In [4]:
import numpy as np
import pandas as pd

In [2]:
models = [
    "GAE",
    "VGAE",
    "ARGA",
    "ARVGA",
    "AGE",
    "DGI",
    "MVGRL",
    "GRACE",
    "GGD"
]

In [3]:
datasets = [
    "cora",
    "citeseer",
    "wiki",
    "pubmed",
    "amazon-photo",
    "amazon-computers"
]

In [8]:
df = pd.DataFrame(data={"models":models}, columns=["models", "cora_pos", "cora_neg", "citeseer_pos", "citeseer_neg", "wiki_pos", "wiki_neg", "pubmed_pos", "pubmed_neg", "amazon-photo_pos", "amazon-photo_neg", "amazon-computers_pos", "amazon-computers_neg"])
df

,models,cora_pos,cora_neg,citeseer_pos,citeseer_neg,wiki_pos,wiki_neg,pubmed_pos,pubmed_neg,amazon-photo_pos,amazon-photo_neg,amazon-computers_pos,amazon-computers_neg
0,GAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,VGAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ARGA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ARVGA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,DGI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MVGRL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,GRACE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,GGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
for model_idx, model in enumerate(models):
    for dataset in datasets:
        print(model, dataset)
        
        try:
            data = np.load("{}-{}.npz".format(model, dataset))
            pos_r, neg_r = data["pos"], data["neg"]

            df["{}_pos".format(dataset)][model_idx] = pos_r
            df["{}_neg".format(dataset)][model_idx] = neg_r
        except Exception as e:
            print(e)

GAE cora
GAE citeseer
GAE wiki
GAE pubmed
GAE amazon-photo
GAE amazon-computers
VGAE cora
VGAE citeseer
VGAE wiki
VGAE pubmed
VGAE amazon-photo
VGAE amazon-computers
ARGA cora
ARGA citeseer
ARGA wiki
ARGA pubmed
ARGA amazon-photo
ARGA amazon-computers
ARVGA cora
ARVGA citeseer
ARVGA wiki
ARVGA pubmed
ARVGA amazon-photo
ARVGA amazon-computers
AGE cora
AGE citeseer
AGE wiki
AGE pubmed
AGE amazon-photo
AGE amazon-computers
DGI cora
DGI citeseer
DGI wiki
DGI pubmed
DGI amazon-photo
DGI amazon-computers
MVGRL cora
MVGRL citeseer
MVGRL wiki
MVGRL pubmed
MVGRL amazon-photo
MVGRL amazon-computers
GRACE cora
GRACE citeseer
GRACE wiki
GRACE pubmed
GRACE amazon-photo
GRACE amazon-computers
GGD cora
GGD citeseer
GGD wiki
GGD pubmed
GGD amazon-photo
GGD amazon-computers

In [12]:
df

,models,cora_pos,cora_neg,citeseer_pos,citeseer_neg,wiki_pos,wiki_neg,pubmed_pos,pubmed_neg,amazon-photo_pos,amazon-photo_neg,amazon-computers_pos,amazon-computers_neg
0,GAE,0.01,0.9,0.01,0.8,0.01,0.6,0.01,0.9,0.01,0.4,0.005,0.4
1,VGAE,0.01,0.8,0.01,0.1,0.01,0.9,0.01,0.9,0.01,0.8,0.01,0.9
2,ARGA,0.01,0.9,0.01,0.9,0.01,0.9,0.01,0.9,0.01,0.9,0.01,0.9
3,ARVGA,0.01,0.9,0.01,0.9,0.01,0.9,0.01,0.9,0.01,0.8,0.01,0.9
4,AGE,0.01,0.3,0.01,0.9,0.01,0.9,0.005,0.8,0.01,0.9,0.01,0.6
5,DGI,0.01,0.9,0.01,0.9,0.01,0.9,0.01,0.9,0.01,0.8,0.01,0.8
6,MVGRL,0.01,0.9,0.01,0.9,0.01,0.9,0.01,0.9,0.01,0.9,0.005,0.9
7,GRACE,0.01,0.9,0.01,0.9,0.01,0.9,0.01,0.9,0.01,0.9,0.01,0.9
8,GGD,0.01,0.9,0.01,0.9,0.01,0.8,0.01,0.9,0.01,0.9,0.01,0.9